@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;
}

.bg-primary {
  background-color: linear-gradient(130deg, #468ef9, #0c66ee);
}

.text-blue-gradient {
  background: -webkit-linear-gradient(
    283deg,
    #3984f4,
    #0cd3ff,
    #2f7cf0,
    #0e65e8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
